@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora:wght@400;600;700&display=swap');



.anton-font {
  font-family: 'Anton', sans-serif;
}

.lora-font {  font-family: 'Lora', serif;}

.white {
  color: white;
}


.navbar-nav a {
  color: white;
  text-decoration: none;
  font-family:'Anton', sans-serif; 
  text-transform: uppercase;
  padding: 0px 1rem .5rem;
}

.navbar-nav a.active {
  border-bottom: 1px solid white;
  color: white;
}
.App {
  text-align: center;
}

header {
}

navbar {
}

#main {
}

.imageSizing {
  max-width: 400px;
}
footer {
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }

  .content-wrap{
    flex:1;
  }

  .Newsletter{
    background-image: url('https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }